/* Navbar.css */

/* General Styles */
.navbar {
    background-color: #34495e;
    padding: 15px;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Ensures all items are vertically centered */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link, .nav-button {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    height: 100%; /* Ensures that the items have equal height */
    display: flex;
    align-items: center; /* Centers the text vertically within the item */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transition for hover effects */
  }
  
  .nav-link:hover {
    color: #1abc9c;
  }
  
  .nav-button {
    background-color: #e74c3c;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #c0392b;
  }
  
  .nav-button:focus {
    outline: none;
  }
  
  .nav-button:active {
    background-color: #a93226;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link, .nav-button {
      font-size: 16px;
      padding: 8px;
    }
  
    .nav-button {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  